// * Функции для перевода в относительные значения

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

@function toEm($value) {
  $remValue: calc($value / 16) + em;
  @return $remValue;
}

// :root {
// 	--16px: 1rem;
// 	--24px: 1.5rem;
// 	--32px: 2rem;
// 	--300px: 18.75rem;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
p {
  text-wrap: balance;
}

h1,
h2,
h3 {
  font-family: "Georgia", "Times New Roman", "Times", serif
}

body {
  max-width: toRem(1440);
  margin: 0 auto;
  padding: 0.25rem;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.2;
  background-color: #1d2f30;
  color: #fefae0;

  @media (min-width: toEm(768)) {
    padding: 2rem;
  }

  @media (min-width: toEm(1024)) {
    padding: 5rem;
  }
}

code {
  background-color: #ddd9bd;
  border-radius: 4px;
  padding: 0 0.2em;
}

.typography {
  &__wrapper {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px;

    &:nth-child(even) {
      outline: 1px solid rgba(254, 250, 224, 0.5);
    }

    &:nth-child(odd) {
      background-color: #0b1919;
      background-image: url("../image/leafs.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
    }
  }

  &__title {
    &--px {
      font-size: 32px;
    }

    &--rem {
      font-size: 2rem;
    }
  }

  &__description {
    &--px {
      font-size: 16px;
    }

    &--rem {
      font-size: 1rem;
    }

    b {
      color: #b58791;
    }
  }
}

.inners {
  background-color: #fefae0;
  color: #0b1919;

  &__wrapper {
    margin: 2rem 0;
    outline: 1px solid #1d2f30;
  }

  &__title {
    margin: 1rem 0;
    font-size: 2rem;
  }

  &__header {
    margin: 0;
    color: #fefae0;
    background-color: #1d2f30;

    &--large {
      font-size: 3rem;
    }

    &--regular {
      font-size: 1.5rem;
    }
  }

  &__description {
    margin: 0;
  }

  &__container {
    // * Все значения в rem
    &--rem {
      .inners__header {
        padding: 1.5rem 1rem;
      }

      .inners__header--regular {
        padding: 0.75rem 1rem;
      }

      .inners__description {
        padding: 0.75rem 1rem;
      }
    }

    // * Все значения в em
    &--em {
      .inners__header {
        padding: 0.75em 1em;
      }

      .inners__description {
        padding: 0.75em 1em;
      }
    }

    // * Сочетание em + rem
    &--em-rem {
      .inners__header {
        padding: 0.75em 1rem;
      }

      .inners__description {
        padding: 0.75em 1rem;
      }
    }
  }
}

.sidebar {
  &__header {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 2rem;
    background-image: linear-gradient(#b58791, #c69995, #d1ae9c, #d8c3aa, #ddd9bd);
    background-clip: text;
    color: transparent;
  }

  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto;
    margin-bottom: 2rem;

    &--fixed {
      // * Боковая панель имеет ширину 350px; сетка перестраивается на 1024px
      // * -> правая панель сужается при увеличении шрифта
      @media (min-width: 1024px) {
        grid-template-columns: 1fr 350px;
      }
    }

    &--half-fixed {
      // * Боковая панель адаптируется под размер шрифта; сетка перестраивается на 1024px
      // * -> основной контент сужается, нужно перестроить сетку при увеличении шрифта
      @media (min-width: 1024px) {
        grid-template-columns: 1fr toRem(350);
      }
    }

    &--relative {
      // * Все части адаптируются при увеличении шрифта
      @media (min-width: toEm(1024)) {
        grid-template-columns: 1fr toRem(350);
      }
    }
  }

  &__description {
    font-size: 1rem;

    b {
      color: #b58791;
    }
  }

  &__section {
    padding: 2rem;
    background-image: url("../image/flower.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right -90px bottom -80px;
    outline: 1px solid rgba(254, 250, 224, 0.5);
    border-radius: 8px;

    @media (min-width: toEm(1024)) {
      background-position: right -140px bottom -110px;
    }
  }

  &__aside {
    padding: 2rem;
    background-color: #0b1919;
    border-radius: 8px;
  }

  &__title {
    &--large {
      font-size: 2rem;
    }

    &--regular {
      font-size: 1.5rem;
    }
  }

  code {
    padding: 0 0.4em;
    color: #0b1919;
  }
}

// * Резиновый интерфейс

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

// * Mobile-desktop
@function fluid($min-size, $max-size, $min-breakpoint: $mobile-breakpoint, $max-breakpoint: $desktop-breakpoint) {
  $min-size-px: $min-size * 1px;
  $max-size-px: $max-size * 1px;

  $fluid-value: calc(($max-size-px - $min-size-px) / ($max-breakpoint - $min-breakpoint));
  $intercept: $min-size-px - $fluid-value * $min-breakpoint;
  @return clamp(toRem($min-size), $fluid-value * 100vw + $intercept, toRem($max-size));
}

// * Mobile-tablet
@function fluid-mobile($min-size, $max-size, $min-breakpoint: $mobile-breakpoint, $max-breakpoint: $tablet-breakpoint) {
  $min-size-px: $min-size * 1px;
  $max-size-px: $max-size * 1px;

  $fluid-value: calc(($max-size-px - $min-size-px) / ($max-breakpoint - $min-breakpoint));
  $intercept: $min-size-px - $fluid-value * $min-breakpoint;
  @return clamp(toRem($min-size), $fluid-value * 100vw + $intercept, toRem($max-size));
}

// * Tablet-desktop
@function fluid-tablet($min-size, $max-size, $min-breakpoint: $tablet-breakpoint, $max-breakpoint: $desktop-breakpoint) {
  $min-size-px: $min-size * 1px;
  $max-size-px: $max-size * 1px;

  $fluid-value: calc(($max-size-px - $min-size-px) / ($max-breakpoint - $min-breakpoint));
  $intercept: $min-size-px - $fluid-value * $min-breakpoint;
  @return clamp(toRem($min-size), $fluid-value * 100vw + $intercept, toRem($max-size));
}

.fluid {
  padding: fluid-mobile(10, 15);

  @media (min-width: toEm(768)) {
    padding: fluid-tablet(15, 30);
  }

  &__title {
    &--large {
      margin: 0;
      margin-bottom: fluid-mobile(16, 24);
      font-size: fluid-mobile(24, 36);

      @media (min-width: toEm(768)) {
        margin-bottom: fluid-tablet(24, 36);
        font-size: fluid-tablet(36, 48);
      }
    }
  }

  &__description {
    margin: 0;
    margin-bottom: fluid-mobile(16, 24);
    font-size: fluid-mobile(16, 24);

    @media (min-width: toEm(768)) {
      margin-bottom: fluid-tablet(24, 36);
      font-size: fluid-tablet(24, 36);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(300), 1fr));
    gap: fluid-mobile(30, 45);
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: toEm(768)) {
      gap: fluid-tablet(45, 60);
    }
  }

  .card {

    outline: 1px solid #0b1919;
    transition: outline 0.3s linear;

    &__wrapper:has(.card__image) {
      padding: fluid-mobile(30, 45) fluid-mobile(24, 36);
      background-color: #0b1919;

      @media (min-width: toEm(768)) {
        padding: fluid-tablet(45, 60) fluid-tablet(36, 48);
      }
    }

    &__wrapper:has(.card__title) {
      display: grid;
      gap: fluid-mobile(10, 20);
      padding: fluid-mobile(16, 24) fluid-mobile(24, 36);

      @media (min-width: toEm(768)) {
        gap: fluid-tablet(20, 30);
        padding: fluid-tablet(24, 36) fluid-tablet(36, 48);
      }
    }

    &__title {
      margin: 0;
      font-size: fluid-mobile(24, 36);
      line-height: 1.5;

      @media (min-width: toEm(768)) {
        font-size: fluid-tablet(36, 48);
      }
    }

    &__image {
      width: 100%;
    }

    &__description {
      margin: 0;
      font-size: fluid-mobile(16, 24);
      line-height: 1.5;
      opacity: 0.7;

      @media (min-width: toEm(768)) {
        font-size: fluid-tablet(24, 36);
      }
    }

    &__link {
      width: fit-content;
      padding: fluid-mobile(10, 15) fluid-mobile(20, 25);
      font-size: fluid-mobile(16, 24);
      line-height: 1.5;
      text-decoration: none;
      color: #bae249;
      outline: 1px solid #bae249;
      transition:
        color 0.3s linear,
        background-color 0.3s linear;

      @media (min-width: toEm(768)) {
        padding: fluid-tablet(15, 20) fluid-tablet(25, 30);
        font-size: fluid-tablet(24, 36);
      }

      &:hover,
      &:focus,
      &:active {
        color: #0b1919;
        background-color: #bae249;
      }
    }

    &:hover,
    &:focus,
    &:active {
      outline: 1px solid rgba(254, 250, 224, 0.5);
    }
  }
}
